:root {
    --highlight-color: rgb(56, 138, 15);
    --background-color: rgb(253, 253, 253);
    font-size: 16px;
    box-sizing: border-box;
}

p {
    /* color: var(--highlight-color); */
    /* background-color: var(--background-color); */
}

.logo {
    max-width: 10rem;
}

body,
html {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 1rem;
}

button {
    border: none;
}

li {
    display: block;
    width: 100%;
}

li a {
    display: block;
    width: 90%;
}

span {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    /* justify-content: stretch; */
    /* background-color: aqua; */
}

#header {
    background-color: var(--highlight-color);
    color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

#main {
    /* background: blue; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

#main>* {
    margin: 1rem 0
}

.welcome-message {
    font-size: larger;
}

nav {
    display: none;
}

nav ul,
.unstyled-list {
    list-style: none;
    padding-left: 0;
}

nav ul a,
.list-item-link {
    text-decoration: none;
    display: block;
    font-size: 2rem;
    margin-bottom: 1px;
}

.call-to-action {
    display: flex;
    justify-content: center;
}

.call-to-action a {
    color: var(--background-color);
    background: var(--highlight-color);
    margin: 0 .25rem;
}

.button {
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: .25rem;
    font-size: 2rem;
    color: var(--background-color);
    background: var(--highlight-color);
}

[hidden] {
    display: none;
}

form {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: space-evenly; */
    text-align: left;
}

form>* {
    line-height: 2rem;
    margin: .12em 0;
}

form input,
textarea {
    border-color: var(--highlight-color);
    border-radius: .25rem;
    padding-left: 1rem;
    border-style: solid;
    border-width: 2px;
}

input+label {
    margin-top: 1rem;
}

form button,
form input[type=submit] {
    color: var(--background-color);
    background-color: var(--highlight-color);
    margin-top: 1rem;
}

li .ad-title {
    display: block;
    line-height: 2rem;
    font-variant: small-caps;
    font-weight: bold;
    white-space: nowrap;
}

li .ad-description {
    font-size: 1rem;
    display: block;
    line-height: 1;
}

.ads-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.ads-list a {
    position: relative;
}

.ads-list a::after {
    content: '>';
    position: absolute;
    right: 1rem;
    top: .5rem;
}